/* * {
    border: 1px solid rgba(255, 0, 166, 0.2) !important;
} */

/* Combat view */
/* #map, #state-screen {
    display: none;
} */

/* #state-screen {
    display: none;
} */

/* #log {
    display: block;
} */