/* Generic */
/* * {
    border: 1px solid rgb(255, 0, 166) !important;
} */

*, *::before, *::after {
    box-sizing: border-box;
}

html{
    height: 100%;
}
:root {
    --grass-base: linear-gradient(180deg, #273534 0%, #3C4442 100%);
    --green:     rgb(0, 240, 96);
    --green50:rgba(0, 240, 96,0.5);

    --black:     rgb(0, 0, 0);
    --b10:       rgb(0, 0, 0, 0.1);
    --b50:       rgb(0, 0, 0, 0.5);

    --white:     rgb(255, 255, 255);
    --w50:        rgb(255, 255, 255, 0.50);
    --w0:        rgb(255, 255, 255,0);

    --grey:      rgb(126, 126, 126);
    --border:    rgba(0,0,0,0.2);
    --light-bg:  rgb(227, 236, 241);

    --orange:    rgb(255, 102, 54);
    --yellow:    rgb(255,230,0);
}
body{
    height: 100%;
    
    display: flex;
    flex-direction: column;
    
    overflow: hidden;

    font-family: 'arial', sans-serif;
    font-size: 16px;
    line-height: 125%;
    color: var(--black);
}


/* Font styles */
.body-12{
    font-size: 12px;
    color: var(--black);
    line-height: 18px;
}
.body-14{
    font-size: 14px;
    color: var(--black);
    list-style: 20px
}


/* Screens */
.screen{
    flex: 1;

    display: flex;
    align-items: stretch;
}

#combat{
    background: var(--grass-base);
    flex-direction: column;
}

#map{
    background-image: url(../img/bg/1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#map button{
    border: none;
    background-color: var(--w0);
}
#map button div{
    border-radius: 99px;
    background-color: var(--black);
    color: var(--white);
    gap: 8px;
    padding: 8px 16px 8px 12px;
    display: flex;
    flex-direction: row;
}

#skill-tree{
    display: flex;
    flex-wrap: wrap;
}

#character-content {
    align-items: flex-start;
    gap: 24px;
    padding: 0px;
    align-items: stretch;
}
.grey-card{
    background-color: var(--b10);
    border-radius: 4px;
    padding: 12px;
    display: flex;
    gap: 12px;
    position:relative
}
#stat-block div{
    display: flex;
    flex-direction: column;
}
#actions-list{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#actions-list .grey-card{
    flex-direction: column !important;
    padding-right:32px;
}
#actions-list .name{
    font-weight: 600;
}
#actions-list .charges{
    color: var(--b50) !important;
    position: absolute !important;
    top: 8px !important;
    right: 8px !important;
}


/*New UI*/
.mono-m{
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    line-height: 16px;
}


/* Modal */
.modal{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.54);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
.modal-container{
    /* max-height: 800px; */
    max-width: 800px;
    height: 100%;
    width: 100%;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;

    position: relative;
    overflow: auto;
    padding: 24px 24px 180px 24px;
}
.modal-slide{
    animation-name: modal-slide;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
}
.modal-body{
    padding: 0 8px 24px 8px;
}


/* Tabs */
#tab-container{
    width: calc(100% - 16px);
    position: fixed; 
    bottom: 8px; 
    z-index: 1;

    display: flex;
    align-items: stretch;
    overflow: hidden;

    border-radius: 4px;
    margin: 0 8px;
}
#tab-container button{
    height: auto;
    flex: 1 0 0px;
    border: none;
    background-color: var(--black);
    color: var(--w50);
}
.active{
    background-color: red;
}

#info-modal{
    background-color: var(--light-bg);
    /* width: 100%; */
    padding: 16px;
}


/* Buttons */
button{
    height: 52px;
    padding: 12px 12px;
    background-color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    color: var(--black);
    border: 1px solid var(--border);
}
button:hover{
    background-color: rgb(232, 232, 232);
    transition: all 200ms;
}
button:active{
    background-color: rgba(240, 240, 240, 1);
    border: 2px solid rgba(80, 80, 80, 1);
}
button:disabled{
    cursor: auto;
    border: none;
    color: rgba(120, 120, 120, 1);
    background-color: rgba(0, 0, 0, 0.2);

    justify-content: center;
    align-items: center;
}

.action{
    /* min-width: 132px; */
    width: calc(50% - 1px);
    height: auto;
    min-height: 60px;
    padding: 0px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    border: none;
    border-radius: 4px;

    text-align: left;
    background-color: var(--light-bg);
    font-size: 12px;
    line-height: 16px;
}
.action div{
    display: flex;
    justify-content: space-between;
}
.action span{
    display: flex;
    justify-content: space-between;
    padding: 6px 8px 0px 8px;
}
.action span p {
    color: var(--grey); 
}
.action h3{
    font-weight: 600;
}
.action .desc{
    height: 32px;
    padding: 0 8px 8px 8px;
    overflow: hidden;
}
/* Hides scroll bar */
.actions-container::-webkit-scrollbar {
    display: none;
}
.actions-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;

    gap: 2px;
    height: 184px;
    overflow-y: scroll;

    /* //Hide bar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.empty-slot{
    font-family: 'JetBrains mono', sans-serif;
    color: var(--green50) !important;
}


/*Items & inventory*/
#inventory-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;

    padding: 0px;
    gap: 2px;
}
    .item-card{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        border-radius: 4px;
        background-color: var(--b10);
    }
    .item-card img{
        height: 52px;
        width: 52px;
    }
    .item-card button{
        border: none;
        background-color: var(--w0);
        
        display: flex;
        flex-direction: row;
        gap: 4px;
        
        color: var(--b50);
        font-style: italic;
        font-weight: 600;

        padding: 12px;
    }
    .item-card button img{
        height: 24px;
        width: 24px;
    }
    .desc-section{
        padding: 8px 8px 0 0;
    }
    .top-container, .bottom-container{
        display: flex;
        min-height: 52px;
    }
    .bottom-container{
        justify-content: space-between;
    }
    .equipped{
        
    }
    .passive-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .passive-container img{
        height: 16px;
        width: 16px;
    }

/* Stats */
#stats-container{
    max-width: 480px;
    border-radius: 8px 0 8px 8px;
    border: 2px solid var(--black);
    background-color: var(--black);
    overflow: hidden;

}
#stats{
    border-radius: 4px 4px 0 0;
    font-family: 'JetBrains mono', sans-serif;
    color: var(--green);
    font-size: 14px;

    display: flex;
    width: 100%;
    justify-content: stretch;
}
.stat-group{
    display: flex;
    flex-wrap: wrap;
    flex:1 1 0;
    justify-content: center;

    margin: 11px auto 11px auto;
}
.stat{
    display: flex;
    gap: 2px;
    width: 72px;
}
.sm{
    width: 52px;
    color: var(--white) !important;
}
.stat p{
    width: 22px;
}
.life{
    color: var(--orange);
}


/**/
.container{
    flex-grow: 1;
    min-height: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Overrides */
h2{
    font-family: 'Grenze', serif;
    font-size: 36px;
    line-height: 36px;
}

h3{
    font-weight: 600;
}

li {
    border-left: 2px solid var(--border);
    padding-left: 8px;
    margin-bottom: 8px;
}

#log{
    font-size: 12px;
    color: var(--green);
    font-family: 'JetBrains mono', sans-serif;
    width: 100%;
    padding: 4px 0px;
}
#enemyImg {
    width: 120px;
    height: 120px;
}

#intent{
    background-color: var(--yellow);
    color: var(--black);
    padding: 4px 12px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

#rewards{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}

#logIndicator{
    color: wheat;
}

.imgcont{
    position: relative;
    height: 124px;
}

.boss{
    width: 180px !important;
    height: 180px !important;
}

.floating-ind {
    position: absolute;
    opacity: 0;
    font-size: 20px;
}

.float-num{
    animation-name: dmgnum;
    animation-duration: 2s;
    animation-iteration-count: 1;
}


/* Utility */
.hide{display: none !important;}
.flip{transform: scaleX(-1);}
.grow{flex-grow: 1;}


/*Transitions*/
.enemyEntrance{
    animation-name: enemy-entrance;
    animation-duration: 2s;
    animation-iteration-count: 1;
}


/* Keyframes */
/* Animate damage numbers */
@keyframes dmgnum {
    0% {
        opacity:0;
        top: 16px;
    }

    50%{
        opacity: 1;
    }
  
    100% {
        opacity:0;
        top: 0px;
    }
  }

@keyframes modal-slide {
    0% {
        bottom: -600px;
    }
  
    100% {
        bottom: 0px;
    }
}

@keyframes enemy-entrance {
    0%{
        margin-left: 120px;
    }
    100%{
        margin-left: 0px;
    }
}