/* * {
    border: 1px solid rgba(255, 0, 166, 0.2) !important;
} */

*, *::before, *::after {
    box-sizing: border-box;
}

/* For anchor links nav */
*, html{
    scroll-behavior: smooth !important;

    /* Disables gestures */
    touch-action: none; 

    /*Removes browser stretching on scroll*/
    overscroll-behavior: none;
}

/* Enables gestures for selected pages */
/* Atm it also disables reward screens swipe gestures to switch between tabs*/
.scroll, .scroll *{
    touch-action: pan-y !important;
}

.scrollx, .scrollx *{
    touch-action: pan-x !important;

    /*Disable x rubber banding*/
    overscroll-behavior: none;
}

html{
    width: 100%;
    height: 100%;

    /*Prevents address bar collapse*/
    position: fixed;
}

:root {
    --grass-base: linear-gradient(180deg, #273534 0%, #3C4442 100%);
    --green:     rgb(0, 240, 96);
    --green50:   rgba(0, 240, 96,0.5);
    --green-bg:  #576557;
    --map-bg:    #83867D;
    --orange:    rgb(255, 102, 54);
    --yellow:    rgb(255,230,0);
    --grey:      rgb(126, 126, 126);
    --light-bg:  rgb(227, 236, 241);
    --intent:    rgb(165, 164, 142);

    --black:     rgb(0, 0, 0);
    --b50:       rgb(0, 0, 0, 0.5);
    --b20:       rgb(0, 0, 0, 0.2);
    --b10:       rgb(0, 0, 0, 0.1);

    --white:     rgb(255, 255, 255);
    --w70:       rgb(255, 255, 255, 0.70);
    --w50:       rgb(255, 255, 255, 0.50);
    --w20:       rgb(255, 255, 255, 0.20);
    --w10:       rgb(255, 255, 255, 0.10);
    --w0:        rgb(255, 255, 255,0);
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;

    font-family: 'arial', sans-serif;
    font-size: 16px;
    line-height: 125%;
    color: var(--black);
}

/* Org */
    .container{
        flex-grow: 1;
        min-height: 100%;
    }
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .column {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }


/* Overrides */
    h2{
        font-family: 'Grenze', serif;
        font-size: 36px;
        line-height: 36px;
    }

    h3{
        font-weight: 600;
    }

    li {
        border-left: 2px solid var(--border);
        padding-left: 8px;
        margin-bottom: 8px;
    }

    #log{
        font-size: 13px;
        line-height: 16px;
        color: var(--white);
        font-family: 'JetBrains mono', sans-serif;
        position: fixed;

        top: 4px;
        left: 4px;

        padding: 4px 8px;
        background-color: var(--black);
    }

    /* Font styles */
    .body-12{
        font-size: 12px;
        color: var(--black);
        line-height: 18px;
    }
    .body-14{
        font-size: 14px;
        color: var(--black);
        line-height: 20px;
    }
    .mono-m{
        font-family: 'JetBrains Mono', monospace;
        font-size: 12px;
        line-height: 16px;
    }


/* Screens */
    .screen{
        flex: 1;

        display: flex;
        align-items: stretch;

        max-height: calc(100vh);
        overflow: scroll;
    }

    .state-screen{
        z-index: 5 !important;
    }
    .state-screen .modal-container, .state-screen .modal-container{
        gap: 0px;
        text-align: center;
        align-items: center;
        justify-content: center; 
    }
    .illustration{
        height: 224px;
        width: 226px;
    }
    .state-screen .modal-container .italic, .state-screen .modal-container .italic{
        width: 100%;
        padding: 52px;
        position: fixed;
        bottom: 0;
    }


/* Map */
    #map{
        background-color: var(--map-bg);
        padding: 32px;
        flex-direction: column;
    }
    #map, #map *{
        touch-action:pan-x pan-y !important;
        overscroll-behavior-y: none;
        overscroll-behavior-x: none;
    }
    #map-container{
        display: flex;
        flex-wrap: wrap;
        margin: auto;

        border-right: 1px dashed var(--b20) !important;
        border-top: 1px dashed var(--b20) !important;
    }
    .map-tile{
        width: 120px;
        height: 120px;

        border: none;
        border-left: 1px dashed var(--b20) !important;
        border-bottom: 1px dashed var(--b20) !important;
        background-color: var(--w0);

        position: relative;
    }
    .map-tile:hover{
        background-color: var(--w0);
    }
    .map-tile:active{
        background-color: var(--w0);
        border: none;
    }
    .map-unit{
        position: absolute;
        z-index: 1;
        bottom: 4px;
        right: 4px;
    }
    #stat-indicator{
        position: fixed;
        bottom: 65px;
        left: 8px;

        justify-content: center;

        display: flex;
        gap: 12px;
        padding: 2px 12px 6px 12px;
        background-color: var(--b50);
        border-radius: 4px 4px 0 0;
        color: white;
        z-index: 2;

        max-width: 400px;
        width: calc(100% - 16px);
        
        & div{
            display: flex;  
            align-items: center;
            gap: 2px;
        } 
    }
    .unit-quant{
        position: absolute;
        color: white !important;
        z-index: 2;
        font-size: 10px;
        text-align: center;
        
        opacity: 1;
        bottom: 26px;
        right: 10px;
    }
    #map-desc{
        font-size: 12px;
        width: 100%;
        color: var(--w70);
    }


/*Skill tree*/
    #skill-tree{
        display: flex;
        flex-wrap: wrap;
    }


/*Character screen*/
    #character-content {
        align-items: flex-start;
        gap: 24px;
        padding: 0px;
        align-items: stretch;
    }
    .grey-card{
        background-color: var(--b10);
        border-radius: 4px;
        padding: 12px;
        display: flex;
        gap: 12px;
        position:relative
    }
    #stat-block div{
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }


/* Modal */
    .modal{
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.54);
        z-index: 3;

        width: 100vw;
        height: 100vh;

    }
    .modal-container{
        max-width: 800px;
        height: 100%;
        width: 100%;

        overflow: auto;
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        

        background-color: white;
        padding-top: 24px;

        & p, h2{
            margin: 0px 24px 12px 24px;
        }
    }
    .tab-margin{
        padding-bottom: 120px !important;       
    }
    .modal-slide{
        animation-name: modal-slide;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }
    .modal-header{
        display: flex;
        justify-content: space-between;
        padding: 16px 16px;
    }

/* Modal with multiple tab pages that slide */
    .tab-screen-container{
        flex-direction: row;
        overflow: scroll;

        .tab-screen{
            min-width: 100vw;
        }
    }


/* Tabs */
    .tab-container{
        max-width: 400px;
        width: calc(100% - 16px);
        position: fixed; 
        bottom: 8px;
        z-index: 4;

        display: flex;
        align-items: stretch;
        overflow: hidden;

        border-radius: 4px;
        margin: 0 8px;

        background-color: var(--black);

        & button{
            height: auto;
            flex: 1 0 0px;
            border: none;
            background-color: var(--black);
            color: var(--w50);
        }
    }
    .tab-container button:active, .tab-container button:hover{
        background-color: var(--w0);
        border: none;
    }
    .active{
        background-color: red;
    }


/* Button */
    button{
        height: 52px;
        padding: 12px 12px;
        background-color: white;
        cursor: pointer;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        color: var(--black);
        border: 1px solid var(--border);
    }
    button:hover{
        background-color: rgb(232, 232, 232);
        transition: all 200ms;
    }
    button:active{
        background-color: rgba(240, 240, 240, 1);
        border: 2px solid rgba(80, 80, 80, 1);
    }
    button:disabled{
        cursor: auto;
        border: none;
        color: rgba(120, 120, 120, 1);
        background-color: rgba(0, 0, 0, 0.2);

        justify-content: center;
        align-items: center;
    }


/* Actions */
    .action{
        width: 148px;
        height: 50%;

        padding: 0px;
        margin: 0 2px 0 0;

        justify-content: flex-start;
        align-items: stretch;

        /* border-radius: 4px 4px 0 0; */

        text-align: left;
        font-size: 12px;
        line-height: 16px;

        position: relative;
        overflow: hidden;

        -moz-box-shadow: inset 0 -10px 10px -10px var(--b20);
        -webkit-box-shadow: inset 0 -10px 10px -10px var(--b20);
        box-shadow: inset 0 -10px 10px -10px var(--b20);
    
        & div{
            display: flex;
            justify-content: space-between;
        }
        & span{
            display: flex;
            justify-content: space-between;
            padding: 6px 8px 0px 8px;

        }
        & span p {
            color: var(--b50); 
        }
        & h3{
            font-weight: 600;
        }
        & .desc{
            height: 32px;
            padding: 0 8px 8px 8px;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
        & img{
            position: absolute;
            right: -12px;
            bottom: -12px;
            opacity: 0.2;
            z-index: 0;
        } 
    }
    .action, .action:hover, .action:active{
        background-color: rgb(179, 179, 179);
        border: none;
    }
    .actions-container{
        display: flex;
        flex-direction: row;
        padding: 0 8px 0 8px;
        height: 160px;
        width: 100%;
        overflow: scroll;

    }
    #cards-row{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        min-width: 100vw;
        max-height: 100%;
        flex-wrap: wrap;
    }
    .empty-slot{
        font-family: 'JetBrains mono', sans-serif;
        color: var(--green50) !important;
    }
    /* Character page */
    #actions-list{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #actions-list button{
        width: 120px;
        pointer-events: none;
    }


/* Combat */
    #combat{
        background-color: rgb(84, 84, 84);
        flex-direction: column;
        overflow-y: hidden;
        align-items: center;
        position: relative;

        -moz-box-shadow: inset 0 -360px 120px -120px var(--black);
        -webkit-box-shadow: inset 0 -360px 120px -120px var(--black);
        box-shadow: inset 0 -360px 120px -120px var(--black);
    }
    .bg-image{
        background-image: url("../img/bg/combat-1.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    /*Sprites*/
        .imgcont{
            /*Pos for intent indicator*/
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            min-height: 192px;
            min-width: 180px;

            /*Offset for bottom shadow*/
            margin-top: 16px;
        }

        #player-sprite, #enemy-sprite {
            z-index: 2;
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;

            align-items: flex-end;
            justify-content: center;

            & img {
                position: absolute;
            }
        }

        #player-sprite img:nth-child(1),
        #player-sprite img:nth-child(5),
        #player-sprite img:nth-child(2),

        #enemy-sprite img:nth-child(1),
        #enemy-sprite img:nth-child(4)
        {
            animation: player-char-idle 0.8s steps(2) infinite alternate;
        }
        @keyframes player-char-idle {
            0% {
                transform: translateY(0px);
            }

            100%{
                transform: translateY(2px);
            }
        }

        /*Entrance anim*/
        .enemyEntrance{
            animation-name: enemy-entrance;
            animation-duration: 2s;
            animation-iteration-count: 1;
        }
        @keyframes enemy-entrance {
            0%{
                margin-left: 120px;
            }
            100%{
                margin-left: 0px;
            }
        }

        /* Animate damage numbers */
        .float-num{
            animation-name: dmgnum;
            animation-duration: 2s;
            animation-iteration-count: 1;
        }
        .floating-ind {
            position: absolute;
            opacity: 0;
            font-size: 20px;
            z-index: 1;
        }
        @keyframes dmgnum {
            0% {
                opacity:0;
                top: 16px;
            }

            50%{
                opacity: 1;
            }
        
            100% {
                opacity:0;
                top: 0px;
            }
        }

    /* Combat: Intent indicator */
        #intent-indicator{
            position: absolute; 
            bottom: -40px;
            z-index: 3;

            & div{
                text-wrap: nowrap;
                background-color: var(--black);
                padding: 4px 8px;
                display: flex;
                justify-content: center;
                gap: 2px;
                border-radius: 0px;

                color: white;
    
                & img{
                    /* filter:  */
                    /* invert(42%)  */
                    /* sepia(93%)  */
                    /* saturate(1352%)  */
                    /* hue-rotate(87deg)  */
                    /* brightness(0%)  */
                    /* contrast(119%); */
                }
            }

            & svg{
                fill: var(--black);
                width: 12px;
                height: 12px;
                position: absolute;
                top: -11px;
            }
        }
        .turn-slide{
            animation-name: turn-slide;
            animation-duration: 1s;
            animation-iteration-count: 1;
        }
        @keyframes turn-slide{
            0%{
                margin-right: 0vw;
                opacity: 100%;
            }
            51%{
                margin-right: 200vw;   
                opacity: 100%;     
            }
            52%{
                margin-right: 200vw; 
                opacity: 0%;       
            }
            53%{
                margin-right: -100vw;
                opacity: 0%;
            }
            100%{
                margin-right: 0vw;
                opacity: 100%;
            }
        }

    /* Combat: stats ui */
        #stats{
            border-radius: 4px 4px 0 0;
            font-family: 'JetBrains mono', sans-serif;
            color: var(--white);
            font-size: 12px;

            display: flex;
            width: 100%;
            justify-content: stretch;

            .stat-group{
                display: flex;
                flex-wrap: wrap;
                flex:1 1 0;
                justify-content: center;
    
                margin: 8px auto 8px auto;
    
                .stat{
                    display: flex;
                    flex-direction: column;
                    min-width: 26px;
                    align-items: center;
                }
                .life{
                    color: var(--orange);
                }
                #dice span, #p-dice span{
                    color: var(--w50);
                }
            }
        }



/*Items & inventory*/
    .item-card{
        display: flex;
        flex-direction: column;

        width: 100%;
        background-color: var(--b10);
        margin-bottom: 1px;

        & p {
            /*Removes margin from modal <p>*/
            margin: 0px;
        }
        & img{
            height: 52px;
            width: 52px;
        }
        & button{
            border: none;
            background-color: var(--w0);
            
            display: flex;
            flex-direction: row;
            gap: 4px;
            
            color: var(--black);
            font-style: italic;
            padding: 12px;
        }
        & button img{
            height: 24px;
            width: 24px;
        }
    }
    .desc-section{
        padding: 8px 8px 0 0;   
    }
    .top-container, .bottom-container{
        display: flex;
        min-height: 52px;
        position: relative;

        & span {
            background-color: var(--black);
            color: white;
            position: absolute;
            padding: 2px 6px;
            border-radius: 0 0 0 4px;
            right: 0;
            top: 0;
        }
    }
    .bottom-container{
        justify-content: space-between;

        .passive-container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .passive-container img{
            height: 16px;
            width: 16px;
        }
    }


/* Utility */
    .hide    {display: none !important;}
    .flip    {transform: scaleX(-1);}
    .grow    {flex-grow: 1;}
    .italic  {font-style: italic;}
    .b50     {color: var(--b50);}
    .bold    {font-weight: 600;}
    .snap-scroll{
        scroll-snap-type: x mandatory;	
        -webkit-overflow-scrolling: touch;

        overflow-x: scroll;
        
        max-height: 100vh;
        left: 0px;
    }
    .snap-scroll-item{
        scroll-snap-align: start; 
        overflow-y: scroll;
        min-width: 100vw;
    }

    #alert{
        position: absolute;
        bottom: 86px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: calc(100% - 16px);
        min-height: 62px;
        
        margin: 8px;
        padding: 0 0 0 16px;
        
        border-radius: 4px;
        z-index: 4;

        background-color: var(--black);
        color: var(--w70);
        font-size: 14px;
    }


/* Keyframes */
    @keyframes modal-slide {
        0% {
            bottom: -600px;
        }
    
        100% {
            bottom: 0px;
        }
    }