:root {
    --grass-base: linear-gradient(180deg, #273534 0%, #3C4442 100%);
    --green:     rgb(0, 240, 96);
    --green50:   rgba(0, 240, 96,0.5);
    --green-bg:  #576557;
    --map-bg:    #83867D;
    --orange:    rgb(255, 102, 54);
    --yellow:    rgb(255,230,0);
    --grey:      rgb(126, 126, 126);
    --light-bg:  rgb(227, 236, 241);
    --intent:    rgb(165, 164, 142);

    --black:     rgb(0, 0, 0);
    --b80:       rgb(0, 0, 0, 0.8);
    --b50:       rgb(0, 0, 0, 0.5);
    --b20:       rgb(0, 0, 0, 0.2);
    --b10:       rgb(0, 0, 0, 0.1);

    --white:     rgb(255, 255, 255);
    --w70:       rgb(255, 255, 255, 0.70);
    --w50:       rgb(255, 255, 255, 0.50);
    --w20:       rgb(255, 255, 255, 0.20);
    --w10:       rgb(255, 255, 255, 0.10);
    --w0:        rgb(255, 255, 255,0);

    --shadow: 2px 2px 4px var(--b20);

    --screen-ref-width: 320px;
    --item-card-max-width: 320px;
    --action-card-max-width: 172px;
}

html{
    width: 100%;
    height: 100%;

    /*Prevents address bar collapse*/
    position: fixed;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;

    font-family: 'arial', sans-serif;
    font-size: 16px;
    line-height: 125%;
    color: var(--black);

    transition: filter 1s;
}
/* html * {
    outline: 1px solid red;
} */

/* Enables gestures for selected pages */
/* Atm it also disables reward screens swipe gestures to switch between tabs*/
    .scroll, .scroll *{
        touch-action: pan-y !important;
    }
    .scrollx, .scrollx *{
        touch-action: pan-x !important;

        /*Disable x rubber banding*/
        overscroll-behavior: none;
    }

/* Org */
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .column {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }
    .stat {
        display: flex;
        align-items: center;
        gap: 2px;

        & img {
            width: 16px;
            height: 16px;
        }
    }

/* Overrides */
    h2{
        font-family: 'Grenze', serif;
        font-size: 36px;
        line-height: 36px;
    }
    h3{
        font-weight: 600;
    }
    li {
        border-left: 2px solid var(--border);
        padding-left: 8px;
        margin-bottom: 8px;
    }
    .body-12{
        font-size: 12px;
        color: var(--black);
        line-height: 18px;
    }
    .body-14{
        font-size: 14px;
        color: var(--black);
        line-height: 20px;
    }
    .mono-m{
        font-family: 'JetBrains Mono', monospace;
        font-size: 12px;
        line-height: 16px;
    }
    li{
        text-align: left;
        list-style-type: square;
        font-size: 14px;
        margin-bottom: 2px;
        padding-left: 0px;
    }
    b { 
        font-weight: bold; 
    }

    /* Button */
    button{
        height: 52px;
        padding: 12px 12px;
        background-color: white;
        cursor: pointer;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        color: var(--black);
        border: 1px solid var(--border);
    }
    button:hover{
        background-color: rgb(232, 232, 232);
        transition: all 200ms;
    }
    button:active{
        background-color: rgba(240, 240, 240, 1);
        border: 2px solid rgba(80, 80, 80, 1);
    }
    button:disabled{
        cursor: auto;
        background-color: var(--w20);
    }

/* Screens */
    .screen{
        max-height: calc(100vh);
        overflow: scroll;

        display: flex;
        align-items: stretch;

        background-color: white;
    }
    .state-screen{
        z-index: 3 !important;
        margin: auto;
    }
    .state-screen .modal-container {
        text-align: center;
        align-items: center;
        justify-content: center;

        padding: 0px;
        margin: auto;

        & p{ 
            max-width: 288px;
            margin: 0;
        }
    }
    .illustration{
        height: 312px;
        width: 312px;
    }
    .state-screen .modal-container .italic {
        padding: 20px;
    }

/* Modal */
    .modal{
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        position: absolute;
        
        background-color: white;
        z-index: 3;

        width: 100%;
        height: 100%;

    }
    .modal-container{
        width: 100%;
        max-width: 400px;
        height: fit-content;

        position: relative;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0 auto;
        gap: 12px;

        padding: 24px 24px 96px 24px;
    }

/* Tabs */
    .tab-container{
        max-width: 400px;
        width: calc(100% - 16px);
        
        /*Centers tabs*/
        position: fixed; 
        left: 50%;
        transform: translate(-50%);
        bottom: 8px;

        z-index: 5;

        display: flex;
        align-items: stretch;

        border-radius: 4px;
        background-color: var(--black);
        overflow: hidden;

        & button{
            height: auto;
            flex: 1 0 0px;
            border: none;
            background-color: var(--w0);
            color: var(--w70);
        }
    }
    .tab-container button:active, .tab-container button:hover{
        background-color: var(--w20);
        border: none;
        z-index: 4;
    }
    .active{
        background-color: rgb(51, 51, 51) !important;

        & img{
            filter:invert(100%);
        }
    }
    #stat-indicator{
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        color: white;
        width:50%;

        & div{
            gap: 2px;
            display: flex;  
            flex-direction: column;
            align-items: center;
        } 
    }

/* Map */
    #map{
        background-color: var(--map-bg);
        padding: 72px 72px 124px 72px;
        flex-direction: column;

        min-width: 100vw;
        min-height: 100%;

        position: relative;
        overflow: scroll;

        #map-container{
            display: flex;
            flex-wrap: wrap;
            margin: auto;
    
            border-right: 1px dashed var(--b20) !important;
            border-top: 1px dashed var(--b20) !important;
        }
        .map-tile{
            width: 120px;
            height: 120px;
    
            border: none;
            border-left: 1px dashed var(--b20) !important;
            border-bottom: 1px dashed var(--b20) !important;
            background-color: var(--w0);
    
            position: relative;
        }
        .map-tile:hover{
            background-color: var(--w0);
        }
        .map-tile:active{
            background-color: var(--w0);
            border: none;
        }
        .map-unit{
            position: absolute;
            z-index: 1;
            bottom: 4px;
            right: 4px;
        }
        .unit-quant{
            position: absolute;
            bottom: 25px;
            right: 9px;
            z-index: 2;
    
            text-align: center;
            font-family: 'jetbrains mono', sans-serif;
            font-size: 10px;
        }
        #map-desc{
            position: absolute;
            top:12px;
            left: 12px;
            font-size: 18px;
            color: var(--b50);
        }
    }
    #map, #map *{
        touch-action:pan-x pan-y !important;
        overscroll-behavior-y: none;
        overscroll-behavior-x: none;
    }
    /* Map animation */
    #player-unit{ 
        width: 18px;
        height: 32px;

        & * {
            position: absolute;
            left: 0;
        }
    }
    #player-unit-arms{
        animation: player-char-idle 0.5s steps(2) infinite alternate;
    } @keyframes player-char-idle-map {
        0% {
            transform: translateY(0px);
        }

        100%{
            transform: translateY(2px);
        }
    }

/* Casino */
    #casino-screen .modal-container{
        gap: 32px;
        overflow: visible;
        
        .casino-card-container{
            display: flex;
            width: 360px;
            height: 160px;
            align-items: center;
            justify-content: center;
            position: relative;
            gap: 4px;
            overflow: visible;
        }
        .casino-card{
            width: 112px;
            height: 160px;
        }
        #card-0{
            transform:rotate(-8deg);
        }
        #card-2{
    
            transform:rotate(12deg);
        }
        #casino-coins, #casino-outcome{
            color: rgb(135, 116, 59);
            font-family: 'Grenze', sans-serif;
            font-weight: 400;
            font-size: 28px;
        }
        #casino-outcome{
            color: rgb(66, 66, 66);
        }
    }

/*Character screen*/
    #character-content {
        align-items: flex-start;
        gap: 24px;
        /* padding: 0 24px 24px 24px; */
        align-items: stretch;

        .stat-block{
            display: flex;
            flex-direction: column;
            gap: 4px;
    
            & section{
                background-color: var(--b10);
                border-radius: 4px;
        
                padding: 8px 8px 0px 8px;
        
                display: flex;
                flex-wrap: wrap;
        
                & div{
                    width: 50%;
                    margin-bottom: 8px;
                }
            }
        }
        #action-list, #passive-list{
            display: flex;
            flex-direction: column;
            /* flex-wrap: wrap; */
            width: 100%;
            gap: 2px;
            
            & button {
                width: 100%;
                max-width: 100%;
                height: 72px;
    
                pointer-events: none;
    
                background-color: var(--b10);
                border-radius: 4px;
    
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
        .social-container{
            display: flex;
            gap: 4px;
            margin-top: 8px;
    
            & a {
                min-height: 48px;
                border-radius: 4px;
                text-decoration: none;
                display: flex;
                gap: 8px;
                align-items: center;
                font-size: 14px;
            }
            & .x-social{
                background-color: var(--b10);
                color: black;
                padding: 8px 28px 8px 28px;
            }
            
            & .discord{
                background-color: #3366FF;
                color: white;
                padding: 8px 16px 8px 8px;
            }
        }
    }

/* Combat */
    #combat{
        height: 100%;

        /* background-color: rgb(84, 84, 84); */
        flex-direction: column;
        overflow-y: hidden;
        align-items: center;
        position: relative;

        -moz-box-shadow: inset 0 -360px 120px -120px var(--b80);
        -webkit-box-shadow: inset 0 -360px 120px -120px var(--b80);
        box-shadow: inset 0 -360px 120px -120px var(--b80);
        
        /* .bg-image{
            background-image: url("../img/bg/combat-1.svg");
            background-repeat: no-repeat;
            background-position: center;
        } */
        .units-container{
            /* width:100%; 
            align-items: stretch; 
            padding: 0 4px;  */
            position: relative;
            /* left: 50%; */
        }
        .bg-cover{
            position: absolute;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -24px);
        }
        #log{
            display: none;
    
            font-size: 13px;
            line-height: 16px;
            color: var(--white);
            font-family: 'JetBrains mono', sans-serif;
            position: fixed;
    
            top: 4px;
            left: 4px;
    
            padding: 4px 8px;
            background-color: var(--black);
        }
    }
    
    /* Actions */
        .actions-container{
            display: flex;
            flex-direction: row;
            height: 188px;
            width: 100%;
            max-width: 603px;

            overflow: scroll;
            z-index: 1;

            #cards-row{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: flex-start;
                gap: 1px;
        
                width: 100%;
                /* min-width: calc(2 * 180px + 2px); */
                /* max-width: calc(3 * var(--action-card-max-width)); */
                /* min-width: calc(100vw - 16px); */
        
                /* max-height: 100%; */
            }
        }
        .action{
            max-width: 200px;
            width: calc(50% - 1px);
            height: 68px;
            padding: 0px;

            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            text-align: left;
            font-size: 12px;
            line-height: 14px;

            position: relative;
            overflow: hidden;
        
            & div{
                display: flex;
                justify-content: space-between;
            }
            & span{
                display: flex;
                justify-content: space-between;
                padding: 6px 0 0 6px;
            }
            & .desc{
                padding: 0 38px 6px 6px;
                overflow: hidden;
                position: relative;
                height: 44px;
            }
            & img{
                position: absolute;
                right: -8px;
                bottom: -8px;
            } 
            & .cooldown-indicator{
                color: var(--white);
                background-color: black;
                padding: 4px 6px;
                position: absolute;
                bottom: 0px;
                left: 0px;

                border-radius: 0 4px 0 0;
            }
            & .charge-indicator{
                color: var(--white);
                background-color: black;

                padding: 2px 4px 2px 6px;

                position: absolute;
                top: 0px;
                right: 0px;

                border-radius: 0 0 0 4px;
            }
        }
        .action, .action:hover, .action:active{
            background-color: rgb(255, 255, 255);
            /* border: none; */
        }
        
    /*Sprites*/
        .imgcont{
            /*Pos for intent indicator*/
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            min-height: 192px;
            min-width: 180px;

            /*Offset for bottom shadow*/
            margin-top: 16px;
        }
        #player-sprite, #enemy-sprite {
            z-index: 2;
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;

            align-items: flex-end;
            justify-content: center;

            & img {
                position: absolute;
            }
        }

        #player-sprite img:nth-child(2),#player-sprite img:nth-child(3),#player-sprite img:nth-child(6),
        #enemy-sprite img:nth-child(2),#enemy-sprite img:nth-child(5){
            animation: player-char-idle 0.8s steps(2) infinite alternate;
        } @keyframes player-char-idle {
            0% {
                transform: translateY(0px);
            }

            100%{
                transform: translateY(4px);
            }
        }

    /*Entrance anim*/
        .enemyEntrance{
            animation-name: enemy-entrance;
            animation-duration: 2s;
            animation-iteration-count: 1;
        } @keyframes enemy-entrance {
            0%{
                margin-left: 120px;
            }
            100%{
                margin-left: 0px;
            }
        }

    /* Ghosts */
        #p-ghost, #e-ghost{
            opacity: 0;
        }
        .ghost-trigger{
            animation-name: ghostfx;
            animation-duration: 2s;
            animation-iteration-count: 1;
        } @keyframes ghostfx {

            0%{
                opacity: 0.75;
            }
            100%{
                opacity: 0;
            }
        }

    /* Combat: Intent indicator */
        #intent-indicator{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;

            bottom: 172px;
            z-index: 3;

            
            & div{
                max-width: 160px;
                /* text-wrap: nowrap; */
                background-color: var(--b80);
                /* backdrop-filter: blur(1px);
                -webkit-backdrop-filter: blur(1px); */

                padding: 8px 12px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                text-align: center;
                line-height: 16px;
                color: white;

                gap: 4px;
                /* border-radius: 4px; */

                & img{
                    width: 16px;
                    height: 16px;
                    margin-top: 0px;
                }
            }

            & svg{
                fill: var(--b80);
                width: 12px;
                height: 12px;
            }
        }

    /* Combat: stats ui */
        .stat-group{
            font-family: 'JetBrains mono', sans-serif;
            color: var(--white);
            font-size: 12px;

            display: flex;
            flex-wrap: wrap;
            flex:1 1 0;
            justify-content: center;
            gap: 0px;

            overflow: hidden;
            position: absolute;
            bottom: -40px;
            z-index: 2;
            
            .stat{
                padding: 4px 6px 2px 6px;
                background-color: var(--b50);

                backdrop-filter: blur(2px);
                -webkit-backdrop-filter: blur(2px);

                border-radius: 0px;
                border-left: 1px solid var(--black);

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0;

                min-width: 26px;
                position: relative;
            }

            .stat:first-child{
                border: none;
            }

            #dice span, #p-dice span{
                color: var(--w50);
            }

            #life, #p-life{
                color: #FF3371;
            }
        }

    /* Floating stat numbers */
        .floater{
            position: absolute;
            opacity: 0;
            background-color: rgb(0, 0, 0);
            border-radius: 0px;

            width: 100%;
            height: 50%;

            text-align: center;
            padding: 0 4px;
        }
        .stat-float{
            animation-name: stat-float;
            animation-duration: 4s;
            animation-iteration-count: 1;
        }
        @keyframes stat-float{
            0%{
                top: 18px;
                opacity: 0;
            }
            10%{
                top: 0px;
                opacity: 1;
            }
            90%{
                top: 0px;
                opacity: 1;
            }
            100%{
                top: 0px;
            }
        }

/*Items & inventory*/
    .item-list{
        max-width: calc(var(--item-card-max-width) * 2);

        display: flex;
        flex-wrap: wrap;

        border-top: 1px dashed var(--b20);
        border-left: 1px dashed var(--b20);

        .item-card{
            display: flex;
            flex-direction: column;
    
            max-width: var(item-card-max-width);
            width: 50%;
            height: 160px;
    
            border-bottom: 1px dashed var(--b20);
            border-right: 1px dashed var(--b20);
    
            
            & img{
                height: 52px;
                width: 52px;
            }
            & button{
                border: none;
                background-color: var(--w0);
                
                display: flex;
                flex-direction: row;
                gap: 4px;
                
                color: var(--black);
                font-style: italic;
                padding: 12px;
            }
            & button img{
                height: 24px;
                width: 24px;
            }
    
            .item-top-container{
                flex-direction: column;
                padding: 8px;
                height: 100%;   

                & p {
                    /*Removes margin from modal <p>*/
                    margin: 0px;
                    max-height: 120px;
                    height: 100%;
                    overflow: hidden;
                }
                .passive-container{
                    display: flex;
                    align-items: flex-end;
                    gap: 4px;
            
                    & div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .passive-container img{
                    height: 16px;
                    width: 16px;
                }
            }
            .item-top-container, .item-bottom-container{
                display: flex;
                min-height: 52px;
                position: relative;
                justify-content: space-between;
    
                & span {
                    background-color: var(--black);
                    color: white;
                    position: absolute;
                    padding: 2px 6px;
                    border-radius: 0 0 0 4px;
                    right: 0;
                    top: 0;
                }
            }
            
        }
    }
    
    /* Item details modal */
    #item-modal{
        z-index: 5;
        
        .action-ref{
            display: flex;
            flex-direction: column;
            
            margin-top: 4px;
            background-color: var(--b10);

            padding: 8px;
            border-radius: 4px;

            width: calc(100%);
            max-width: 320px;

            text-align: left;
        }

        .stat{
            background-color: var(--b10);
            padding: 4px 8px 4px 4px;
            border-radius: 4px;

            margin-top: 4px;
            gap: 4px;

            width: calc(50%);
            max-width: 320px;

            & p{
                width: 100%;
                font-style: italic;
                text-align: left;
            }
        }
        .stat-ico{
            height: 16px;
            width: 16px;
        }

        .modal-container{
            padding: 24px 24px;
            align-items: center;
            text-align: center;

            & p{
                max-width: 280px;
            }
        }

        & .item-img{
            height: 104px;
            width: 104px;
        }
    }

/* Skill tree */
    #skill-tree{
        display: flex;
        flex-wrap: wrap;
        gap: 2px;

        & button{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            flex-direction: row;
            gap: 8px;

            width: calc(48%);
            height:fit-content;
            border-radius: 4px;
 
            text-align: left;
        }

        & div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
        }

        .allocated-tree-node{
            background-color: var(--b10);
        }
    }

/* Alert */
    #alert{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 76px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        width: calc(100% - 16px);
        max-width: 400px;
        min-height: 62px;
        
        border-radius: 4px;
        z-index: 10;

        background-color: var(--black);
        color: var(--w70);
        font-size: 14px;

        cursor: pointer;
        transition: all 300ms;

        & p {
        margin: 12px 0 12px 12px; 
        }

        & img {
            margin: 8px;
            background-color: var(--w0);
        }
    }
    #alert:hover{
        background-color: var(--b80);
    }

/* Utility */
    .hide         {display: none !important;}
    .lock-actions {pointer-events: none;}
    .darken       {filter:brightness(0.5);}
    .flip         {transform: scaleX(-1);}
    .grow         {flex-grow: 1;}
    .italic       {font-style: italic;}
    .b50          {color: var(--b50);}
    .w50          {color: var(--w50);}
    .bold         {font-weight: 600;}