/* Generic */
* {
    /* border: 1px solid rgb(255, 0, 166) !important; */
}

*, *::before, *::after {
    box-sizing: border-box;
  }

html{
    height: 100%;
}
:root {
    --grass-base: linear-gradient(180deg, #273534 0%, #3C4442 100%);
    --green:     rgb(0, 240, 96);
    --green50:rgba(0, 240, 96,0.5);

    --black:     rgb(0, 0, 0);
    --grey:      rgba(0,0,0,0.5);
    --border:    rgba(0,0,0,0.2);
    --white:     rgb(255, 255, 255);
    --w0:        rgb(255, 255, 255,0);
    --light-bg:  rgb(227, 236, 241);

    --red:       rgb(255, 103, 56);
    --yellow:    rgb(255,230,0);
}
body{
    height: 100%;
    
    display: flex;
    flex-direction: column;
    
    overflow: hidden;

    font-family: 'arial', sans-serif;
    font-size: 16px;
    line-height: 125%;
    color: var(--black);
}



/* Screens */
.screen{
    flex: 1;
    padding: 8px;

    display: flex;
    align-items: stretch;
}

#combat{
    background: var(--grass-base);
    flex-direction: column;
}

#map{
    background-image: url(../img/bg/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#map button{
    border: none;
    background-color: var(--w0);
}
#map button div{
    border-radius: 99px;
    background-color: var(--black);
    color: var(--white);
    gap: 8px;
    padding: 8px 16px 8px 12px;
    display: flex;
    flex-direction: row;
}

#skill-tree{
    display: flex;
    flex-wrap: wrap;
}

#character-content {
    align-items: flex-start;
    padding: 16px;
}



/*New UI*/
.mono-m{
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    line-height: 16px;
}


/* Modal */
.modal{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.54);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.modal-container{
    max-height: 800px;
    max-width: 800px;
    width: calc(100%);
    /* height: calc(100% -32px); */

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0px;

    position: relative;
    overflow: auto;
    padding-bottom: 180px;
}
.modal-slide{
    animation-name: modal-slide;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
}
.modal-body{
    padding: 0 8px 24px 8px;
}


/* Tabs */
#tab-container{
    min-width: 100%;
    position: fixed; 
    bottom: 0px; 
    z-index: 1;

    display: flex;

    align-items: stretch;
}

#info-modal{
    background-color: var(--light-bg);
    /* width: 100%; */
    padding: 16px;
}

#tab-container button{
    min-width: 0;
    flex: 1 1 0px;
    border: none;
    border-top: 1px solid var(--border);
}

#tab-container button:last-child{
    min-width: 52px;
}

.active{
    background-color: red;
}


/* Buttons */
button{
    height: 52px;
    padding: 12px 12px;
    background-color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    color: var(--black);
    border: 1px solid var(--border);
}
button:hover{
    background-color: rgb(232, 232, 232);
    transition: all 200ms;
}
button:active{
    background-color: rgba(240, 240, 240, 1);
    border: 2px solid rgba(80, 80, 80, 1);
}
button:disabled{
    cursor: auto;
    border: none;
    color: rgba(120, 120, 120, 1);
    background-color: rgba(0, 0, 0, 0.2);

    justify-content: center;
    align-items: center;
}

.action{
    /* min-width: 132px; */
    width: calc(50% - 1px);
    height: auto;
    min-height: 60px;
    padding: 0px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    border: none;

    text-align: left;
    background-color: var(--light-bg);
    font-size: 12px;
    line-height: 16px;
}
.action div{
    display: flex;
    justify-content: space-between;
}
.action span{
    display: flex;
    justify-content: space-between;
    padding: 0 8px 0px 8px;
}
.action span p {
    color: var(--grey);
}
.action h3{
    font-weight: 600;
}
.action .desc{
    height: 32px;
    padding: 0 8px 8px 8px;
}
/* Hides scroll bar */
.actions-container::-webkit-scrollbar {
    display: none;
}
.actions-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;

    gap: 2px;
    height: 184px;
    overflow-y: scroll;

    /* //Hide bar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.empty-slot{
    font-family: 'JetBrains mono', sans-serif;
    color: var(--green50) !important;
}

/*Items & inventory*/
#inventory-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;

    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    padding: 0px;
}

.item-card{
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 160px;
    position: relative;
    padding: 4px;
    gap: 12px;
}

.item-card button:first-child{
    width: 100%;
    height: auto;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 0px;
    border: none;
}

.equip-button{
    width: max-content;
    border-radius: 4px;
}
.equipped{
    border: 1px solid green;
    background-color: rgba(0, 255, 17, 0.164);
}

.drop-button{
    height: 24px;
    width: max-content;
    position: absolute;
    right: 4px;
    top: 4px;
    border-radius: 4px;
}



/* Stats */
#stats-container{
    max-width: 480px;
    border-radius: 8px 0 8px 8px;
    border: 2px solid var(--black);
    background-color: var(--black);
    overflow: hidden;

}
#stats{
    border-radius: 4px 4px 0 0;
    font-family: 'JetBrains mono', sans-serif;
    color: var(--green);
    font-size: 14px;

    display: flex;
    width: 100%;
    justify-content: stretch;
}
.stat-group{
    display: flex;
    flex-wrap: wrap;
    flex:1 1 0;
    justify-content: center;

    margin: 11px auto 11px auto;
}
.stat{
    display: flex;
    gap: 2px;
    width: 72px;
}
.sm{
    width: 52px;
    color: var(--white) !important;
}
.stat p{
    width: 22px;
}



/**/
.container{
    flex-grow: 1;
    min-height: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* Overrides */
h3, h2{
    font-weight: 600;
}

li {
    border-left: 2px solid var(--border);
    padding-left: 8px;
    margin-bottom: 8px;
}

#log{
    font-size: 12px;
    color: var(--green);
    font-family: 'JetBrains mono', sans-serif;
    width: 100%;
    padding: 4px 0px;
}
#enemyImg {
    width: 120px;
    height: 120px;
}

#intent{
    background-color: var(--yellow);
    color: var(--black);
    padding: 4px 12px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

#rewards{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}

#logIndicator{
    color: wheat;
}

.imgcont{
    position: relative;
    height: 124px;
}

.boss{
    width: 180px !important;
    height: 180px !important;
}

.floating-ind {
    position: absolute;
    opacity: 0;
    font-size: 20px;
}

.float-num{
    animation-name: dmgnum;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* Utility */
.hide{display: none !important;}
.flip{transform: scaleX(-1);}
.grow{flex-grow: 1;}


/*Transitions*/
.enemyEntrance{
    animation-name: enemy-entrance;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* Keyframes */
/* Animate damage numbers */
@keyframes dmgnum {
    0% {
        opacity:0;
        top: 16px;
    }

    50%{
        opacity: 1;
    }
  
    100% {
        opacity:0;
        top: 0px;
    }
  }

@keyframes modal-slide {
    0% {
        bottom: -600px;
    }
  
    100% {
        bottom: 0px;
    }
}

@keyframes enemy-entrance {
    0%{
        margin-left: 120px;
    }
    100%{
        margin-left: 0px;
    }
}