/* Generic */
* {
    /* border: 1px solid rgb(255, 0, 166) !important; */
}

:root {
    --grass-base: linear-gradient(180deg, #273534 0%, #3C4442 100%);
    --red: rgb(219, 39, 39);
  }

body{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 0px;

    margin: 0px;
    padding: 0px;

    min-height: 100vh;
    /* background-color: rgba(220, 220, 220, 1); */
    background: var(--grass-base);

    font-size: 16px;
    font-family: sans-serif;
    line-height: 125%;
}



/* Modal */
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.54);
    width: 100vw;
    height: 100vh;

}

.modal-container{
    max-height: 400px;
    max-width: 400px;
    width: calc(100vw - 32px);
    height: 100%;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;
}

.modal-body{
    padding: 0 8px 24px 8px;
}



/* Buttons */
button{
    min-height: 60px;
    border-radius: 8px;
    border: 2px  solid gray;
    background-color: white;
    padding: 16px 16px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    background-color: rgb(232, 232, 232);
    transition: all 200ms;
}

button:active{
    background-color: rgba(240, 240, 240, 1);
    border: 2px solid rgba(80, 80, 80, 1);
}

button:disabled{
    cursor: auto;
    border: none;
    color: rgba(120, 120, 120, 1);
    background-color: rgba(0, 0, 0, 0.2);

    justify-content: center;
    align-items: center;
}

.action{
    padding: 8px 8px;
    height: 80px;
    width: calc(50% - 2px);

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;

    gap: 8px;
    border: none;
}


/* Containers */
.container{
    flex-grow: 1;
    min-height: 100%;
}

.button-container{
    max-width: 400px;
    flex-wrap: wrap;
    gap: 2px;
}

.quiz-container{
    background-color: white;
    gap: 12px;
}

.actions-container{
    padding: 8px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-block{
    min-width: 140px;
    color: wheat;
}


/* Overrides */
#enemyImg {
    width: 120px;
    height: 120px;
}

#intent{
    background-color: black;
    color: white;
    padding: 8px 16px;
    text-align: center;
}

#rewards{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}

#logIndicator{
    color: wheat;
}

.stat{
    color: wheat;
    gap: 4px;
}

.imgcont{
    position: relative;
    height: 124px;
}

.dmgnum {
    color: var(--red);
    position: absolute;
    opacity: 0;
    font-size: 20px;
}

.float-num{
    animation-name: dmgnum;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* Utility */
.hide{display: none !important;}
.flip{transform: scaleX(-1);}
.grow{flex-grow: 1;}

/* Keyframes */
/* Animate damage numbers */
@keyframes dmgnum {
    0% {
        opacity:0;
        top: 16px;
    }

    50%{
        opacity: 1;
    }
  
    100% {
        opacity:0;
        top: 0px;
    }
  }